<div id="panel" class="inputPanel">
    <select v-model="selected" @change="onGetDateArr">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>

    <select v-model="roundSelected" @change="onRoundSelected">
        <option v-for="option in roundOptionArr" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>

    <select v-model="gameSelected" @change="onGameSelected">
        <option v-for="option in gameOptionArr" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>

    <input type="button" value="addGame" @click="onClkAddGame"/>
    <input type="button" value="下半区" @click="onClkAddLowSection"/>
    <input type="button" value="上半区" @click="onClkAddHighSection"/>
    <input type="button" value="reset" @click="onClkReset"/>
    <input type="button" value="fadeIn" @click="onClkFadeIn"/>
    <input type="button" value="fadeOut" @click="onClkFadeOut"/>

    <ul>
        <li v-for="playerId in playerIdArr">
            playerId:{{playerId}}
        </li>
    </ul>
    <pre id="raw">{{showGameArr | json}}</pre>
</div>
<div class="Preloader" style="display: none">
    <img src="/img/panel/act/bg.png">
</div>

<script src="/js/clientDef.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/vue-resource.min.js"></script>

<script src="/js/panel/BasePanelView.js"></script>
<script src="/js/panel/PlayerCardRender.js"></script>
<script src="/js/panel/ActivityPanelView.js"></script>