<div id="panel" class="inputPanel">


</div>
<div class="Preloader" style="display: none">
    <img src="/img/panel/act/bg.png">
</div>

<script src="/js/clientDef.js"></script>

<script src="/js/panel/BasePanelView.js"></script>
<script src="/js/panel/ActivityPanelView.js"></script>