<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        a {
            font-size: 60pt;
        }
    </style>
</head>
<body>
<a href="/admin/player">球员信息录入</a>
<br>
<a href="/admin/activity/1">对阵表管理</a>
<hr>
<br>
<a href="/panel/stage/op">stage op</a>
<br>
<a href="/panel/player/op">player op</a>
<br>
<a href="/panel/act/op">activity op</a>
</body>
</html>