<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        a{
            font-size: 60pt;
        }
    </style>
</head>
<body>
<a href="/player/upload">球员信息录入</a>
<br>
<a href="/panel/stage/op">stage op</a>
<br>
<a href="/panel/player/op">player op</a>
<br>
<a href="/panel/win/op">win op</a>
</body>
</html>