<style>
    .inputPanel {
        width: 100%;
        left: 60px;
        top: 600px;
        position: absolute;
        display: none;
        z-index: 99;
    }
</style>
<script>
    $(function () {
//        if (isOp) {
//            $(".inputPanel").show()
//        }
    })
</script>
<div class="inputPanel">
    <div class="playerPanel">
        player id:
        <div class="pickupPlayer">
            <img class="playerAvatar" src="/img/player/p0.png">
            <input class="playerId" type="text" style="width: 75px"/>
            <input class="btnQuery" type="button" value="query" data-pos="0"/>
            <input class="btnUpdate" type="button" value="update↓↓↓" data-pos="0"/><br>
            <input name="mvp" class="playerMvp" type="radio" value="" data-pos="0"/>MVP
        </div>
    </div>
</div>
