<style>
    .inputPanel {
        width: 100%;
        left: 60px;
        top: 200px;
        position: absolute;
        display: none;
        z-index: 99;
    }
</style>
<div class="inputPanel">
    <div class="playerPanel">
        player id:
        <div class="pickupPlayer">
            <img class="playerAvatar" src="/img/player/p0.png">
            <input class="playerId" type="text" style="width: 75px"/>
            <input class="btnQuery" type="button" value="query" data-pos="0"/>
            <input class="btnUpdate" type="button" value="update↓↓↓" data-pos="0"/><br>
        </div>
    </div>
</div>
<script>
    var onServer = function () {
        cmd.on(CommandId.fadeInPlayerPanel, function (param) {
            var playerInfo = new PlayerInfo(param);
            console.log("PlayerInfo:",playerInfo);
        })
        cmd.on(CommandId.fadeOutPlayerPanel, function (param) {
        })
    }
</script>
<script>
    var playerId;
    $(function () {
        $(".btnQuery").click(function (e) {
            playerId = $($(".playerId")[0]).val();
            $.post("/getPlayerInfo/" + playerId, null, function (res) {
                console.log("query player:", res);
                var data = JSON.parse(res);
                $($(".playerAvatar")[0]).attr("src", data.playerInfo.avatar);
            });
        });

        $(".btnUpdate").click(function (e) {
            cmd.proxy(CommandId.cs_fadeInPlayerPanel, playerId);
        });
        onServer();
    });

    var fadeInPlayerPanel = function (playerInfo) {

    }
</script>
