<style>
    .inputPanel {
        width: 100%;
        left: 60px;
        top: 600px;
        position: absolute;
        display: none;
        z-index: 99;
    }

    .stagePanel {
        background: #ccc;
        width: 100%;
        height: 160px;
    }

    .playerPanel {
        display: inline-flex;
        width: 1000px;
        background: #ccc;
    }

    .playerAvatar {
        width: 100%;
    }

    .pickupPlayer {
        width: 150px;
    }

    .WinPanelButton {
        width: 160px;
        height: 65px;
    }
</style>
<div class="inputPanel">
    <!--<div class="stagePanel">-->
    <!--<input id="btnAddLeftScore" type="button" value="L++" style="width: 320px;height: 150px"/>-->
    <!--<input id="btnAddLeftScore" type="button" value="L&#45;&#45;" style="width: 320px;height: 150px"/>-->
    <!--<input id="btnAddLeftScore" type="button" value="start" style="width: 320px;height: 150px"/>-->
    <!--<input id="btnAddLeftScore" type="button" value="reset" style="width: 320px;height: 150px"/>-->
    <!--<input id="btnAddRightScore" type="button" value="R&#45;&#45;" style="width: 320px;height: 150px"/>-->
    <!--<input id="btnAddRightScore" type="button" value="R++" style="width: 320px;height: 150px"/>-->
    <!--</div>-->
    <div class="playerPanel">
        player id:
        <% for(var i = 0; i < 8; i++) { %>
        <div class="pickupPlayer">
            <img class="playerAvatar" src="/img/player/p0.png">
            <input class="playerId" type="text" style="width: 75px"/>
            <input class="btnQuery" type="button" value="query" data-pos="<%= i %>"/>
            <input class="btnUpdate" type="button" value="update↓↓↓" data-pos="<%= i %>"/><br>
            <input name="mvp" class="playerMvp" type="radio" value="" data-pos="<%= i %>"/>MVP
        </div>
        <% } %>
        <input id="btnUpdateAll" type="button" value="updateAll"/>

    </div>
    <br>
    Mvp pos:<label id="txtMvpPos">0</label>
    <br>
    <input id="btnShowWin" class="WinPanelButton" type="button" value="Show Win"/>
    <input id="btnHideWin" class="WinPanelButton" type="button" value="Hide Win"/>
</div>
<script>
    var onServer = function () {
        cmd.on(CommandId.fadeInWinPanel, function (param) {
            console.log("show win panel", param);
            fadeInWinPanel(param.mvp);
        })
        cmd.on(CommandId.fadeOutWinPanel, function (param) {
            console.log("hide win panel", param);
            fadeOutWinPanel();
        })
    }
</script>
<script>
    var mvpPos = 0;
    $(function () {
        var mvpArr = $(".playerMvp");
        mvpArr[0].checked = true;
        mvpArr.change(function (e) {
            mvpPos = $(e.target).data("pos");
            console.log("on mvp change");
            $("#txtMvpPos").html(mvpPos);
        });

        $("#btnShowWin").click(function () {
            cmd.proxy(CommandId.cs_fadeInWinPanel, {
                mvp: mvpPos
            });
        });

        $("#btnHideWin").click(function () {
            cmd.proxy(CommandId.cs_fadeOutWinPanel);
        });

        onServer();
    });
    var verifyWin = function (playerInfoArr, mvp) {
        for (var i = 0; i < playerInfoArr.length; i++) {
            var playerInfo = playerInfoArr[i];
            if (!playerInfo)
                return false;
            playerInfo.isMvp = (i == mvp);
        }
        return true;
    }

    var fadeOutWinPanel = function () {
        console.log(this, "show fade Out WinPanel");
        var stagePanel = client.panel;
        var ctn = stagePanel.winCtn;
        createjs.Tween.get(ctn).to({alpha: 0}, 200)
                .call(function () {
                    ctn.alpha = 1;
                    ctn.removeAllChildren();
                });
    }

    var fadeInWinPanel = function (mvp) {
        console.log(this, "show fadeInWinPanel");
        var stagePanel = client.panel;
        var ctn = stagePanel.winCtn;

        var bg = new createjs.Shape();
        bg.graphics.beginFill('#000').drawRect(0, 0, client.panel.stageWidth, client.panel.stageHeight);
        bg.alpha = .3;
        ctn.addChild(bg);

        var playerCtn = new createjs.Container();
        ctn.addChild(playerCtn);

        var playerInfoArr = stagePanel.playerInfoArr;
        if (verifyWin(playerInfoArr, mvp)) {
            var isRedWin = (mvp > 3);

            var titlePath = "/img/panel/winPanelTitle"
            if (isRedWin)
                titlePath += 'Red.png'
            else
                titlePath += 'Blue.png'
            var title = new createjs.Bitmap(titlePath);
            title.x = (stagePanel.stageWidth - 838) * .5
            title.y = 0
            ctn.addChild(title);

            var prePlayerIsMvp = false;
            var start = 0;
            if (isRedWin)
                start = 4

            playerCtn.x = (stagePanel.stageWidth - 4 * 390) * .5;
            playerCtn.y = 300;
            for (var i = 0; i < 4; i++) {
                var pInfo;
                pInfo = playerInfoArr[i + start];
                var playerCard = getWinPlayerCard(pInfo);
                playerCard.x = i * 390;
                if (pInfo.isMvp)
                    playerCard.y = -30;
                else
                    playerCard.y = 0;
                console.log(this, "new player card", playerCard.x, playerCard.y, mvpPos);
                playerCard.px = playerCard.x;
                playerCard.py = playerCard.y;
                playerCard.x = 500;
                playerCard.scaleX = playerCard.scaleY = 0.01;
                createjs.Tween.get(playerCard).to({x: playerCard.px, scaleX: 1, scaleY: 1}, 200);
                playerCtn.addChild(playerCard);
                prePlayerIsMvp = pInfo.isMvp;
            }
        }
        else {
            alert("球员数据不完整！");
        }

    }
</script>
<script>
    function getWinPlayerCard(p) {
        var isMvp = p.isMvp;
        var ctn = new createjs.Container();
        var avatar = new createjs.Bitmap(p.avatar());
        if (isMvp) {
            avatar.scaleX = avatar.scaleY = 1.5;
            avatar.x = (180 - 180 * 1.2) * .5 + 60;
            avatar.y = 45 + 30;
        }
        else {
            avatar.scaleX = avatar.scaleY = 1.2;
            avatar.x = (180 - 180 * 1.2) * .5 + 60;
            avatar.y = 50 + 30;
        }
        ctn.addChild(avatar);

        var bgPath = '/img/panel/playerBgWin';
        if (p.isRed)
            bgPath += "Red";
        else
            bgPath += "Blue";
        if (p.isMvp)
            bgPath += "Mvp";
        bgPath += '.png';
        var bg = new createjs.Bitmap(bgPath);
        if (p.isMvp) {
            bg.x = -192 + 60;
            bg.y = -135 + 30;
        }
        else {
            bg.x = -176 + 60;
            bg.y = -110 + 30;
        }
        ctn.addChild(bg);


        var col;
        if (p.isRed)
            col = "#e23f6b";
        else
            col = "#1ac3fa";

        var nameCol = "#ddd";
        if (isMvp)
            nameCol = "#f1c236";
        var name;
        if (isMvp)
            name = new createjs.Text(p.name(), "30px Arial", nameCol);
        else
            name = new createjs.Text(p.name(), "30px Arial", col);
        name.textAlign = 'center';
        name.x = 90 + 60;
        if (isMvp)
            name.x += 20;
        name.y = 185 + 30;
        ctn.addChild(name);

        var eloScore;
        eloScore = new createjs.Text(p.eloScore(), "bold 32px Arial", nameCol);
        eloScore.textAlign = 'center';
        eloScore.x = name.x;
        eloScore.y = 245 + 30;
        if (isMvp)
            eloScore.y += 30;
        ctn.addChild(eloScore);

        var eloScoreDt = new createjs.Text("+" + p.eloScore(), "12px Arial", col);
        eloScoreDt.textAlign = 'left';
        eloScoreDt.x = 140 + 60;
        eloScoreDt.y = 260 + 30;
        if (isMvp) {
            eloScoreDt.x += 30;

            eloScoreDt.y += 30;
        }
        ctn.addChild(eloScoreDt);

        var winpercent = new createjs.Text("胜率" + p.winpercent().toFixed(3) * 100 + "%", "18px Arial", col);
        winpercent.textAlign = 'center';
        winpercent.x = name.x;
        winpercent.y = 320;
        if (isMvp)
            winpercent.y += 35;
        ctn.addChild(winpercent);

        var gameCount = new createjs.Text("总场数" + p.gameCount(), "18px Arial", col);
        gameCount.textAlign = 'center';
        gameCount.x = name.x;
        gameCount.y = 350;
        if (isMvp)
            gameCount.y += 35;
        ctn.addChild(gameCount);

        var style = new createjs.Bitmap(p.getWinStyleIcon());
        style.x = 110;
        style.y = 370;
        if (isMvp) {
            style.x += 20;
            style.y += 45;
        }
        ctn.addChild(style);

        return ctn;
    }
</script>