<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        a {
            font-size: 60pt;
        }
    </style>
</head>
<body>
<input type="button" value="生成">
<input type="button" value="打印">
</body>
</html>