<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        a {
            font-size: 60pt;
        }
    </style>
</head>
<body>

<div id="app">
    <input id="btnGen" type="button" value="生成" @click="onGen">
    <input type="button" value="打印" @click="onPrint">
    <ul>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ul>
</div>

<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/vue-resource.min.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            onPrint: function () {
                console.log('todo print!!!');
            },
            onGen: function () {
                this.$http.post("/admin/game/genRound", {id:1}).then(function (res) {
                    var param = res.data;
                    console.log(res);
                    var lowSection = param.low;
                    var highSection = param.high;
                    var $section = $('#section');
                    $section.html("");
                    for (var i = 0; i < highSection.length; i++) {
                        var highPlayerData = highSection[i];
                        $section.append('<label>')
                        console.log("high player", highPlayerData);
                    }
                    for (var i = 0; i < lowSection.length; i++) {
                        var lowPlayerData = lowSection[i];
                        console.log("low player", lowPlayerData);
                    }
//            console.log(res);
                });
            }
        }
    })
</script>
</body>
</html>

