<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YuanqiTV</title>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/createjs/createjs.min.js"></script>
    <script src="/js/createjs/easeljs.min.js"></script>
    <script src="/js/createjs/tweenjs.min.js"></script>
    <script src="/js/client.js"></script>
    <style>
        body {
            overflow-x: hidden;
            overflow-y: hidden;
        }
    </style>
</head>
<body>
<script>
    var client;
    $(function () {
        client = new Client("<%= pid %>")
    });
</script>
<div>
    <canvas id="stage" width="1280" height="720">
    </canvas>
</div>
</body>
</html>