<style>
    .OpButton {
        width: 130px;
        height: 60px;
    }
</style>
<div id="panel" class="inputPanel">
    赛事： <select v-model="selected" @change="onGetDateArr">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>

    轮次：<select v-model="roundSelected" @change="onRoundSelected">
        <option v-for="option in roundOptionArr" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>

    场次：<select v-model="gameSelected" @change="onGameSelected">
        <option v-for="option in gameOptionArr" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>

    <input type="button" value="下半区" @click="onClkAddLowSection"/>
    <input type="button" value="上半区" @click="onClkAddHighSection"/>
    <input type="button" value="reset" @click="onClkReset"/>
    <input type="button" value="开始比赛" @click="onClkStartGame"/>
    <input type="button" value="重启比赛" @click="onClkRestartGame"/>


    <input type="button" value="半区匹配" @click="onClkMatch"/>
    <input type="button" value="添加匹配赛" @click="onClkAddMatchGame"/>

    <ul style="left: 500px;width: 300px;position: inherit;">
        <input class="OpButton" type="button" value="fadeIn" @click="onClkFadeIn"/>
        <input class="OpButton" type="button" value="fadeOut" @click="onClkFadeOut"/>
        <br>
        <input class="OpButton" type="button" value="fadeInRank" @click="onClkFadeInRank"/>
        <input class="OpButton" type="button" value="fadeOutRank" @click="onClkFadeOutRank"/>
        <br>
        <input v-model="cdText"/>六个字
        <input v-model="countDownSec" style="width:80px "/>秒
        <input class="OpButton" type="button" value="Count down in" @click="onClkFadeInCountDown"/>
        <input class="OpButton" type="button" value="Count down out" @click="onClkFadeOutCountDown"/>
    </ul>

    <ul>
        <li v-for="playerId in playerIdArr">
            id:{{playerId}}<img src="/img/player/{{playerId}}.png" style="width: 60px;background: red;">
        </li>
    </ul>
    赛程数据：
    <pre id="raw">{{showGameArr | json}}</pre>
    <pre id="raw2" style="position:fixed;left:850px;top:80px;z-index: 10">{{matchGameArr | json}}</pre>
</div>
<div class="Preloader" style="display: none">
    <img src="/img/panel/act/bg.png">
</div>

<script src="/js/clientDef.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/vue-resource.min.js"></script>

<script src="/js/panel/BasePanelView.js"></script>
<script src="/js/panel/PlayerCardRender.js"></script>
<script src="/js/panel/ActivityPanelView.js"></script>